[submodule "desihub/specter"]
	path = desihub/specter
	url = https://github.com/desihub/specter
[submodule "desihub/desispec"]
	path = desihub/desispec
	url = https://github.com/desihub/desispec
[submodule "desihub/desiutil"]
	path = desihub/desiutil
	url = https://github.com/desihub/desiutil
[submodule "desihub/specex"]
	path = desihub/specex
	url = https://github.com/desihub/specex
[submodule "desihub/desimodel"]
	path = desihub/desimodel
	url = https://github.com/desihub/desimodel
[submodule "desihub/desitarget"]
	path = desihub/desitarget
	url = https://github.com/desihub/desitarget
[submodule "desihub/desisim-testdata"]
	path = desihub/desisim-testdata
	url = https://github.com/desihub/desisim-testdata
