astLib==0.11.8
astropy==5.2
drp==0.1.2
dust_extinction==1.1
invoke==1.7.3
ipython==8.9.0
lvmsurveysim==0.8.3
matplotlib==3.6.2
numpy==1.24.1
peewee==3.15.4
pexpect==4.8.0
pydl==0.7.0
pyfits==3.5
Pygments==2.14.0
pytest==7.2.0
PyYAML==6.0
requests==2.28.1
scipy==1.10.0
setuptools==65.5.0
skycalc_cli==1.4
skyfield==1.45
sphinx_bootstrap_theme==0.8.1
tqdm==4.64.1
